# Shark Attack !!!

## Cleaning...

vamos a limpiar los datos de los tiburones, let´s go!!!

In [1]:
import pandas as pd
import numpy as np 
from src import cleaning_functions as cf

### cargamos el csv:

In [2]:
df = pd.read_csv("DATA/attacks.csv",encoding = "ISO-8859-1")

### hay muchas columnas que no me importan, las elimino:

In [3]:
df.drop(["Name",'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'], axis=1, inplace=True)

### tambien eliminamos las filas con TODO NaN, y los duplicados:

In [4]:
df.dropna(axis=0, how='all', inplace=True)

In [5]:
df.drop_duplicates(keep='first', inplace=True)

### ya tenemos el dataframe un poco más manejable:

In [6]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN

# 1ª hipótesis: "los ataques son más frecuentes en verano"

### queremos sacar una nueva columna para el mes, a partir de la columna "Date"
#### para ello usaremos nuestras funciones "sacar_mes" y "limpiar_mes" :

In [7]:
df["Month"]=df.Date.apply(cf.sacar_mes)

In [8]:
df["month"]=df.Month.apply(cf.limpiar_mes)

In [9]:
df.drop("Month", axis=1, inplace=True)

In [10]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,month
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,Jun
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,Jun
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,Jun

### el problema es que para definir qué es "verano" necesitamos saber en qué hemisferio estamos.
#### lo sacaremos a través de la columna "Area":

In [11]:
len(list(df.Area.unique()))

826

#### 826 valores son demasiados para meterlos a mano!
#### no lo haremos con los registros que supongan menos de un 20%

In [12]:
df.Area.value_counts().head(60)

Florida                              1037
New South Wales                       486
Queensland                            311
Hawaii                                298
California                            290
KwaZulu-Natal                         213
Western Cape Province                 195
Western Australia                     189
Eastern Cape Province                 160
South Carolina                        160
South Australia                       104
North Carolina                        101
Victoria                               90
Pernambuco                             74
Texas                                  73
Torres Strait                          70
North Island                           67
New Jersey                             52
Tasmania                               41
South Island                           40
New York                               30
Oregon                                 29
Abaco Islands                          23
Northern Territory                     23
Central Province                       22
Havana Province                        19
Virginia                               19
South Province                         17
Gaza                                   16
Massachusetts                          16
Puerto Rico                            16
Madang Province                        16
Veracruz                               15
New Ireland Province                   15
Alabama                                15
Georgia                                14
Guerrero                               13
Luzon Island                           13
Khuzestan Province                     13
Adriatic Sea                           12
North Province                         12
Quintana Roo                           12
Rio de Janeiro                         11
Tyrrhenian Sea                         11
Mediterranean Sea                      11
Louisiana                              11
Malampa Province                       11
Grand Bahama Island                    10
Baja California                        10
Bougainville (North Solomons)           9
Basrah                                  9
 Primorje-Gorski Kotar County           9
Society Islands                         9
Tamil Nadu                              9
Red Sea                                 9
Eastern Province                        9
Maputo Province                         8
Admiralty Islands, Manus Province       8
Milne Bay Province                      8
West Bengal                             8
Name: Area, dtype: int64

In [13]:
areas=pd.DataFrame(df.Area.value_counts())

In [14]:
areas["Pareto"]=areas.Area/(df.shape[0])*100
areas["Accumu"]=0.0

In [15]:
for i in range(825):
    k=0
    for j in range(i+1):
        k+=areas.Pareto[j]
    areas["Accumu"][i]=k

<ipython-input-15-43edb2fa42f1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  areas["Accumu"][i]=k

In [16]:
areas.head(50)

                               Area     Pareto     Accumu
Florida                        1037  16.449873  16.449873
New South Wales                 486   7.709391  24.159264
Queensland                      311   4.933376  29.092640
Hawaii                          298   4.727157  33.819797
California                      290   4.600254  38.420051
KwaZulu-Natal                   213   3.378807  41.798858
Western Cape Province           195   3.093274  44.892132
Western Australia               189   2.998096  47.890228
Eastern Cape Province           160   2.538071  50.428299
South Carolina                  160   2.538071  52.966371
South Australia                 104   1.649746  54.616117
North Carolina                  101   1.602157  56.218274
Victoria                         90   1.427665  57.645939
Pernambuco                       74   1.173858  58.819797
Texas                            73   1.157995  59.977792
Torres Strait                    70   1.110406  61.088198
North Island                     67   1.062817  62.151015
New Jersey                       52   0.824873  62.975888
Tasmania                         41   0.650381  63.626269
South Island                     40   0.634518  64.260787
New York                         30   0.475888  64.736675
Oregon                           29   0.460025  65.196701
Abaco Islands                    23   0.364848  65.561548
Northern Territory               23   0.364848  65.926396
Central Province                 22   0.348985  66.275381
Havana Province                  19   0.301396  66.576777
Virginia                         19   0.301396  66.878173
South Province                   17   0.269670  67.147843
Gaza                             16   0.253807  67.401650
Massachusetts                    16   0.253807  67.655457
Puerto Rico                      16   0.253807  67.909264
Madang Province                  16   0.253807  68.163071
Veracruz                         15   0.237944  68.401015
New Ireland Province             15   0.237944  68.638959
Alabama                          15   0.237944  68.876904
Georgia                          14   0.222081  69.098985
Guerrero                         13   0.206218  69.305203
Luzon Island                     13   0.206218  69.511421
Khuzestan Province               13   0.206218  69.717640
Adriatic Sea                     12   0.190355  69.907995
North Province                   12   0.190355  70.098350
Quintana Roo                     12   0.190355  70.288706
Rio de Janeiro                   11   0.174492  70.463198
Tyrrhenian Sea                   11   0.174492  70.637690
Mediterranean Sea                11   0.174492  70.812183
Louisiana                        11   0.174492  70.986675
Malampa Province                 11   0.174492  71.161168
Grand Bahama Island              10   0.158629  71.319797
Baja California                  10   0.158629  71.478426
Bougainville (North Solomons)     9   0.142766  71.621193

### muy bien, lo haremos sólo para estos 50 primeros valores

#### creamos una lista con los mares asociados a cada área:

In [17]:
seas=["car","pas","pas","pan","pan","ind","ats","ind","ind","atn","ind","atn","pas","ats","car","pas","pas","atn","pas","pas","atn","pan","car","pas","pas","car","atn","pas","ind","atn","car","pas","car","pas","car","atn","pan","pan","ind","med","pas","car","ats","med","med","car","pas","car","pan","pas"]

#### y una nueva columna "Hemisferio" inicialmente sin datos:

In [18]:
areas["Sea"]="-"
for i in range(50):
    areas.Sea[i]=seas[i]
areas["Hemisphere"]="-"

<ipython-input-18-f0bc06cc6281>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  areas.Sea[i]=seas[i]

#### a través de un diccionario, asociamos mares y hemisferios:

In [19]:
hemidic={"car":"norte","atn":"norte","pan":"norte","med":"norte","ats":"sur","pas":"sur","ind":"sur","-":"-"}

In [20]:
areas.Hemisphere=areas.Sea.map(hemidic)

In [21]:
areas.rename(columns={"Area":"cases"}, inplace=True)
areas.drop(['Pareto'], axis=1,inplace=True)

In [22]:
areas.head(10)

                       cases     Accumu  Sea Hemisphere
Florida                 1037  16.449873  car      norte
New South Wales          486  24.159264  pas        sur
Queensland               311  29.092640  pas        sur
Hawaii                   298  33.819797  pan      norte
California               290  38.420051  pan      norte
KwaZulu-Natal            213  41.798858  ind        sur
Western Cape Province    195  44.892132  ats        sur
Western Australia        189  47.890228  ind        sur
Eastern Cape Province    160  50.428299  ind        sur
South Carolina           160  52.966371  atn      norte

#### esta tabla además nos permitirá ver la distribución de ataques según el mar (2ª hipótesis)

### ahora cruzaremos los datos de "mes" con los de "hemisferio"

In [23]:
dic={}
for i in range(50):
    dic[list(areas.index)[i]]=list(areas.Hemisphere)[i]
dic["-"]="-"

In [24]:
dic["California"]

'norte'

In [25]:
df["Hemisf"]=df.Area.map(dic)

In [26]:
df.Hemisf=df.Hemisf.fillna("-")

In [27]:
df.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,month,Hemisf
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,Jun,norte
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,Jun,norte
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,Jun,norte
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,Jun,sur
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",Jun,-

#### vamos a crear una parámetro llamado "valor_verano":
#### representa "cuánto de verano es un mes" (en una escala del 1 al 6) en función del hemisferio

In [28]:
df["valor_verano"]=0

In [29]:
df["valor_verano"]=df.apply(lambda fila: cf.verano(fila.Hemisf,fila.month), axis=1)

In [30]:
df.valor_verano.value_counts()

-    2058
6    1250
5     900
4     808
3     589
2     365
1     334
Name: valor_verano, dtype: int64

# 3ª hipótesis: "el tiburón blanco es la especie más peligrosa"

In [31]:
dic1={"Species ":"Species"}

In [32]:
df.rename(columns=dic1, inplace=True)

In [33]:
df["clean_specie"]=df.Species.apply(cf.spec_only)

In [34]:
df.clean_specie.value_counts().head(20)

unknown              4094
white shark           634
tiger shark           260
bull shark            177
m shark               129
nurse shark            97
whaler shark           66
reef shark             65
blacktip shark         61
small shark            55
mako shark             53
wobbegong shark        46
spinner shark          44
hammerhead shark       44
raggedtooth shark      43
blue shark             40
lemon shark            37
zambesi shark          29
whitetip shark         23
no shark               23
Name: clean_specie, dtype: int64

# por último guardamos los datos:

In [35]:
df.to_csv("DATA/clean_sharks.csv")

In [36]:
areas.to_csv("DATA/cases_by_sea.csv")