# Shark Attack !!!

## Cleaning...

vamos a limpiar los datos de los tiburones, let´s go!!!

In [52]:
import pandas as pd
import numpy as np
import cleaning_functions as cf

### cargamos el csv:

In [53]:
df = pd.read_csv("DATA/attacks.csv",encoding = "ISO-8859-1")

### hay muchas columnas que no me importan, las elimino:

In [54]:
df.drop(["Name",'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'], axis=1, inplace=True)

### tambien eliminamos las filas con TODO NaN, y los duplicados:

In [55]:
df.dropna(axis=0, how='all', inplace=True)

In [56]:
df.drop_duplicates(keep='first', inplace=True)

### ya tenemos el dataframe un poco más manejable:

In [57]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN

# 1ª hipótesis: "los ataques son más frecuentes en verano"

### queremos sacar una nueva columna para el mes, a partir de la columna "Date"
#### para ello usaremos nuestras funciones "sacar_mes" y "limpiar_mes" :

In [61]:
df["Month"]=df.Date.apply(cf.sacar_mes)

In [62]:
df["clean_month"]=df.Month.apply(cf.limpiar_mes)

In [63]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Month,clean_month
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,Jun,Jun
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,Jun,Jun
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,Jun,Jun

### el problema es que para definir qué es "verano" necesitamos saber en qué hemisferio estamos.
#### lo sacaremos a través de la columna "Area":

In [66]:
len(list(df.Area.unique()))

826

#### 826 valores son demasiados para meterlos a mano!
#### no lo haremos con los registros que supongan menos de un 20%

In [64]:
df.Area.value_counts().head(60)

Florida                              1037
New South Wales                       486
Queensland                            311
Hawaii                                298
California                            290
KwaZulu-Natal                         213
Western Cape Province                 195
Western Australia                     189
Eastern Cape Province                 160
South Carolina                        160
South Australia                       104
North Carolina                        101
Victoria                               90
Pernambuco                             74
Texas                                  73
Torres Strait                          70
North Island                           67
New Jersey                             52
Tasmania                               41
South Island                           40
New York                               30
Oregon                                 29
Abaco Islands                          23
Northern Territory                     23
Central Province                       22
Havana Province                        19
Virginia                               19
South Province                         17
Gaza                                   16
Massachusetts                          16
Puerto Rico                            16
Madang Province                        16
Veracruz                               15
New Ireland Province                   15
Alabama                                15
Georgia                                14
Guerrero                               13
Luzon Island                           13
Khuzestan Province                     13
Adriatic Sea                           12
North Province                         12
Quintana Roo                           12
Rio de Janeiro                         11
Tyrrhenian Sea                         11
Mediterranean Sea                      11
Louisiana                              11
Malampa Province                       11
Grand Bahama Island                    10
Baja California                        10
Bougainville (North Solomons)           9
Basrah                                  9
 Primorje-Gorski Kotar County           9
Society Islands                         9
Tamil Nadu                              9
Red Sea                                 9
Eastern Province                        9
Maputo Province                         8
Admiralty Islands, Manus Province       8
Milne Bay Province                      8
West Bengal                             8
Name: Area, dtype: int64

In [68]:
areas=pd.DataFrame(df.Area.value_counts())

In [69]:
areas["Pareto"]=areas.Area/(df.shape[0])*100
areas["Accumu"]=0.0

In [71]:
for i in range(825):
    k=0
    for j in range(i+1):
        k+=areas.Pareto[j]
    areas["Accumu"][i]=k

<ipython-input-71-43edb2fa42f1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  areas["Accumu"][i]=k

In [73]:
areas.head(50)

                               Area     Pareto     Accumu
Florida                        1037  16.449873  16.449873
New South Wales                 486   7.709391  24.159264
Queensland                      311   4.933376  29.092640
Hawaii                          298   4.727157  33.819797
California                      290   4.600254  38.420051
KwaZulu-Natal                   213   3.378807  41.798858
Western Cape Province           195   3.093274  44.892132
Western Australia               189   2.998096  47.890228
Eastern Cape Province           160   2.538071  50.428299
South Carolina                  160   2.538071  52.966371
South Australia                 104   1.649746  54.616117
North Carolina                  101   1.602157  56.218274
Victoria                         90   1.427665  57.645939
Pernambuco                       74   1.173858  58.819797
Texas                            73   1.157995  59.977792
Torres Strait                    70   1.110406  61.088198
North Island                     67   1.062817  62.151015
New Jersey                       52   0.824873  62.975888
Tasmania                         41   0.650381  63.626269
South Island                     40   0.634518  64.260787
New York                         30   0.475888  64.736675
Oregon                           29   0.460025  65.196701
Abaco Islands                    23   0.364848  65.561548
Northern Territory               23   0.364848  65.926396
Central Province                 22   0.348985  66.275381
Havana Province                  19   0.301396  66.576777
Virginia                         19   0.301396  66.878173
South Province                   17   0.269670  67.147843
Gaza                             16   0.253807  67.401650
Massachusetts                    16   0.253807  67.655457
Puerto Rico                      16   0.253807  67.909264
Madang Province                  16   0.253807  68.163071
Veracruz                         15   0.237944  68.401015
New Ireland Province             15   0.237944  68.638959
Alabama                          15   0.237944  68.876904
Georgia                          14   0.222081  69.098985
Guerrero                         13   0.206218  69.305203
Luzon Island                     13   0.206218  69.511421
Khuzestan Province               13   0.206218  69.717640
Adriatic Sea                     12   0.190355  69.907995
North Province                   12   0.190355  70.098350
Quintana Roo                     12   0.190355  70.288706
Rio de Janeiro                   11   0.174492  70.463198
Tyrrhenian Sea                   11   0.174492  70.637690
Mediterranean Sea                11   0.174492  70.812183
Louisiana                        11   0.174492  70.986675
Malampa Province                 11   0.174492  71.161168
Grand Bahama Island              10   0.158629  71.319797
Baja California                  10   0.158629  71.478426
Bougainville (North Solomons)     9   0.142766  71.621193

### muy bien, lo haremos sólo para estos 50 primeros valores

#### creamos una lista con los mares asociados a cada área:

In [74]:
seas=["car","pas","pas","pan","pan","ind","ats","ind","ind","atn","ind","atn","pas","ats","car","pas","pas","atn","pas","pas","atn","pan","car","pas","pas","car","atn","pas","ind","atn","car","pas","car","pas","car","atn","pan","pan","ind","med","pas","car","ats","med","med","car","pas","car","pan","pas"]

#### y una nueva columna "Hemisferio" inicialmente sin datos:

In [75]:
areas["Sea"]="-"
for i in range(50):
    areas.Sea[i]=seas[i]
areas["Hemisphere"]="-"

<ipython-input-75-f0bc06cc6281>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  areas.Sea[i]=seas[i]

#### a través de un diccionario, asociamos mares y hemisferios:

In [76]:
hemidic={"car":"norte","atn":"norte","pan":"norte","med":"norte","ats":"sur","pas":"sur","ind":"sur","-":"-"}

In [77]:
areas.Hemisphere=areas.Sea.map(hemidic)

In [78]:
areas.head(20)

                       Area     Pareto     Accumu  Sea Hemisphere
Florida                1037  16.449873  16.449873  car      norte
New South Wales         486   7.709391  24.159264  pas        sur
Queensland              311   4.933376  29.092640  pas        sur
Hawaii                  298   4.727157  33.819797  pan      norte
California              290   4.600254  38.420051  pan      norte
KwaZulu-Natal           213   3.378807  41.798858  ind        sur
Western Cape Province   195   3.093274  44.892132  ats        sur
Western Australia       189   2.998096  47.890228  ind        sur
Eastern Cape Province   160   2.538071  50.428299  ind        sur
South Carolina          160   2.538071  52.966371  atn      norte
South Australia         104   1.649746  54.616117  ind        sur
North Carolina          101   1.602157  56.218274  atn      norte
Victoria                 90   1.427665  57.645939  pas        sur
Pernambuco               74   1.173858  58.819797  ats        sur
Texas                    73   1.157995  59.977792  car      norte
Torres Strait            70   1.110406  61.088198  pas        sur
North Island             67   1.062817  62.151015  pas        sur
New Jersey               52   0.824873  62.975888  atn      norte
Tasmania                 41   0.650381  63.626269  pas        sur
South Island             40   0.634518  64.260787  pas        sur

In [84]:
areas.rename(columns={"Area":"cases"}, inplace=True)
areas.drop(['Pareto'], axis=1,inplace=True)

In [86]:
areas.head(10)

                       cases     Accumu  Sea Hemisphere
Florida                 1037  16.449873  car      norte
New South Wales          486  24.159264  pas        sur
Queensland               311  29.092640  pas        sur
Hawaii                   298  33.819797  pan      norte
California               290  38.420051  pan      norte
KwaZulu-Natal            213  41.798858  ind        sur
Western Cape Province    195  44.892132  ats        sur
Western Australia        189  47.890228  ind        sur
Eastern Cape Province    160  50.428299  ind        sur
South Carolina           160  52.966371  atn      norte

#### esta tabla además nos permitirá ver la distribución de ataques según el mar (2ª hipótesis)

### ahora cruzaremos los datos de "mes" con los de "hemisferio"

In [104]:
dic={}
for i in range(50):
    dic[list(areas.index)[i]]=list(areas.Hemisphere)[i]

In [112]:
dic["California"]

'norte'

In [117]:
df.Hemi=df.Area.map(dic)

In [118]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Month,clean_month,Hemi
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,Jun,Jun,norte
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,Jun,Jun,norte
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,Jun,Jun,norte

In [107]:
ver_nor={"Jan":}

NameError: name 'num_mont' is not defined

In [88]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Month,clean_month
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,Jun,Jun
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,Jun,Jun
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,Jun,Jun

In [89]:
df.clean_month.value_counts()

Jul     667
Aug     598
nulo    575
Sep     556
Jan     516
Jun     498
Apr     453
Oct     443
Dec     436
Mar     412
Nov     403
Feb     380
May     367
Name: clean_month, dtype: int64

In [39]:
# vamos a intentar sacar valores limpios de la especie:

In [40]:
dic1={"Species ":"Species"}

In [41]:
df.rename(columns=dic1, inplace=True)

In [42]:
list(df["Species"].unique())

['White shark',
 nan,
 '2 m shark',
 'Tiger shark, 3m',
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 'Grey reef shark',
 'Invalid incident',
 'Tawny nurse shark, 2m',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 'Bull shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 'Death may have been due to drowning',
 "5' shark",
 "4' to 5' shark",
 'Porbeagle, 1.5 m',
 'White shark, 3.5m',
 "5' to 6' shark",
 'White shark, 3 to 3.5m ',
 'Nurse shark',
 'White shark, 3 m',
 'Shark involvement questionable',
 "White shark, 5' to 7'",
 'Possibly a juvenile blacktip shark',
 'Oceanic whitetip shark, 1.8 to 2 m',
 "4' shark",
 "White shark, 10'",
 'A small shark',
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'Shark involvement prior to death not confirmed',
 'No shark invovlement ',
 'Bull shark, 2m',
 'White shark, 4 m',
 'Seven-gill shark',
 '3m shark, probably a smooth hound',
 "3' shark",
 "9' shark",
 'Shark involvement highly doubtful',
 'No shark invovlement - it ws a publicity stunt',
 "Bull shark, 5' to 7'",
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 'Lemon shark pup',
 "White shark, female, 14'",
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 " 6' to 8' shark",
 "3' to 4' shark",
 "Tiger shark, 10'",
 'Invalid',
 'Bull shark, 3.5 m',
 "Tiger shark, 10' ",
 'Blue shark',
 "Nurse shark, 4'",
 'reef shark, 1m',
 "White shark, 10' to 12'",
 "Lemon shark, 9'",
 'Angel shark',
 'dogfish shark',
 'Tawny nurse shark',
 "Caribbean reef shark, 4.5'",
 "3' to 5' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Bronze whaler',
 'Sandtiger shark',
 'No shark involvement',
 "Reef shark, 5'",
 'Bull sharks x 2',
 "Tiger shark, 14'",
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'Galapagos shark',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 "Spinner shark, 5'",
 "Tiger shark, 7'",
 'Hammerhead sp.',
 "Tiger shark, 13' ",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 'Hammerhead shark',
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 "4' shark?",
 "White shark, 10' to 12' ",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 "Blacktip or spinner shark, 4'",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 "White shark, 7'",
 'Shark involvement not cofirmed',
 "6' to 7' shark",
 'White shark, 2m to 3 m',
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 '1m to 1.2 m shark',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'Blue shark, 8 to 9 feet',
 'Tiger shark, 8 to 12 feet',
 'Blacktip Reef shark ',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 'Goblin shark',
 "2' shark",
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 "White shark, 18' to 20'",
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 "White shark, 12' to 14'",
 'Spinner shark',
 'Spinner shark or blacktip shark',
 "4' to 6' shark",
 "Bull shark, 4.5' ",
 'reef shark',
 " Bull shark, 8'",
 "Bull shark, 9' to 10'",
 " Bull shark, 5'",
 "4' tp 5' shark",
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 "6' to 8' shark",
 " White shark, 7' ",
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 ' Lemon shark, 3.5 m',
 " Sandbar shark, 3' to 4'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 " white shark, 15' ",
 'Cow shark',
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Oceanic whitetip shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 "Tiger shark, 10' to 12'",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 "Whitetip reef shark, 4' to 6'",
 'Nurse shark?',
 'Small bull shark',
 'Salmon shark',
 "Mako shark, 5'",
 'Tiger shark?',
 "Bull shark, 8'",
 "Bull shark, 6' to 8'",
 "Tiger shark, 8' to 10' ",
 "Possibly a Bull shark, 3'",
 "Lemon shark, 4'",
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'shark involvement not confirmed',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'White shark, 5m',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 "2' to 3' shark",
 "Tiger shark, 8'",
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 'Possibly a 3 m bull shark',
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 'Salmon shark suspected, but unlikely',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'a small reef shark',
 'small blacktip shark?',
 'Blacktip shark ',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 '18" to 24" shark',
 'Bull shark, 3m',
 "Tiger shark, 8' to 9' ",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'White shark, 4m ',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Allegedly a 4 m tiger shark',
 "7' to 8' shark ",
 'White shark, 2.5m',
 "White shark, 15' to 16'",
 'Raggedtooth shark',
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "10' to 12' shark",
 '2 to 2.5 m shark',
 'Tiger shark, 2m',
 "6' shark, possibly a blactip or spinner shark",
 "White shark, >6'",
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 "White shark, 5' k",
 "Oceanic whitetip shark, 7'",
 "Sevengill shark, 6' to 8'",
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 "Sandbar shark, 8'",
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Blacktip shark pup',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 "Porbeagle shark, 8' ",
 "White shark, 14' to 18' ",
 'Bull shark, 1.4m ',
 "Possibly a 6' lemon shark",
 'Shark involvement prior to death was not confirmed',
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'A small spinner shark',
 'Nurse shark, juvenile ',
 "Blue shark, 7'",
 '20 to 30kg shark',
 "Lemon shark, 6'",
 "14' shark",
 "Oceanic whitetip shark, 6'",
 'Possibly a blue shark',
 'Wobbegong shark, 1.6m',
 '2 m to 3 m shark',
 "Spinner shark, 6'",
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 "Sandtiger shark, 8'",
 'Thresher shark',
 "Bull shark, 10'",
 'Spurdog',
 "White shark, 5' to 6' juvenile ",
 'White shark, 2m',
 'Tiger shark, 12',
 'Bull shark?',
 "Caribbean reef shark, 6'",
 "Nurse shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Shark involvement probable, but not confirmed',
 'Oceanic whitetip shark, 2.5 to 3m',
 '80 kg shark',
 "5' to 8' shark",
 'blacktip or spinner shark',
 "White shark, 12' to 15' female",
 'Bronze whaler shark?',
 'Blacktip reef shark pup',
 'Thought to involve a cookie cutter shark',
 'Wobbegong shark, 60cm',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'White sharks',
 'Dusky shark, 2m',
 'Mako shark, 3m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 'Zambesi shark?',
 'Bronze whaler shark',
 ' reef shark, 1.8m',
 '5 m white shark',
 "+3' shark",
 "2' to 3' juvenile shark",
 "White shark, 14' to 16' ",
 "8' bull shark or Caribbean reef shark",
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "2' to 3' reef shark",
 'Starry smoothhound shark, 1m',
 "Bull shark, 6' to 7'",
 'White shark, 4.5m',
 "4.5 to 5' shark",
 'Basking shark',
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 "White shark, 12' to 15'",
 'Tiger shark, 2.3m ',
 "Tiger shark, 13' female",
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 "1.5' to 2' shark",
 "2.5' shark",
 'A bull shark, according to some of the divers on the boat',
 "Goblin shark, 4.2'",
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 "Nurse shark, 10'",
 'Possibly a hammerhead shark',
 '"a small shark"',
 'Not a shark attack; it was a hoax',
 '2.27 m shark',
 '1.5 to 2 m shark',
 "Blacktip shark, 5'",
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "9.5' shark?",
 "Nurse shark, 2' to 3' ",
 'Possibly a spinner shark',
 "White shark, 12'",
 'Sand shark',
 "Possibly a 6' bull shark",
 ' ',
 "Possibly a 10' bull shark",
 'Bronze whaler shark, 1.5 m ',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 'Questionable Incident',
 "Lemon shark, 6' female ",
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
 'White shark, 2m ',
 "Tiger shark, 14' ",
 'Lemon shark, >1 m ',
 "Bull shark, 10' ",
 'White shark, 3m',
 '2.4 m shark',
 '24" to 30" shark',
 "6' to 8' shark, possibly a tiger shark",
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 "White shark, 12' to 15' ",
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Bull shark, 1.5m ',
 "White shark, 16' ",
 "1' to 4' shark",
 "3' to 3.5' shark",
 'White shark, 3.5m ',
 'small catsharks',
 'White shark?',
 'Thought to involve a mako shark, but possibly a sea lion',
 "Bull shark, 4' to 5' ",
 'Angel shark, 1.2m ',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Bull or tiger shark',
 "5' to 6' spinner or bull shark",
 '1.8 m blacktip "reef" shark',
 "Possibly a 1' to 3' blacktip or spinner shark",
 "14' white shark",
 "Tiger shark, 8' to 12'",
 "Tiger shark, 15' female",
 "Grey reef shark, 5' to 8' ",
 'Wobbegong shark, 2 m ',
 "Bull shark, 4' to bull shark",
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 '3 m, 600-kg shark',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 "5' to 7' shark",
 '4.5 m white shark',
 "12' to 18' shark",
 "12' shark",
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '4 m white shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m ',
 "12' to 14' white shark",
 "18' white shark",
 "Tiger shark, less than 10'",
 'Caribbean reef sharks',
 'Tiger shark, 3 m ',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 'juvenile white shark',
 'Possibly a sandbar shark or small blacktip shark',
 "1.8 m [6'] shark",
 "3.5 m [11.5']shark",
 "[4.5' to 5'] shark",
 "[4' to 5']",
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'Unknown, but it was reported that a shark tooth was recovered from the wound',
 "3 m [10'] white shark",
 "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
 '"small shark"',
 '18" to 36" shark',
 "Tiger shark, 3 m [10']",
 "2 m [6.75'] copper shark",
 "1.8 m [6'] blacktip shark",
 'small hammerhead shark',
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Sandtiger shark, 2.1 m [7'] ",
 "Bronze whaler shark, 4.3 m [14'] ",
 "Nurse shark, 3' ",
 "Tiger shark, 2.4 m [8']",
 "1.8 m [6'] Caribbean reef shark",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 "5.5 m [18'] white shark",
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'Thought to involve a 2.5 m bull or tiger shark',
 "Tiger shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "1.2 m [4'] shark",
 "3 m to 4 m [10' to 13']  white shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 '9\'2" white shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "0.9 m to 1.5 m [3' to 5'] shark",
 "2.4 m to 3.7 m [8' to 12'] shark",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Mako shark, 1.8 m [6']",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 "5 m [16.5'] white shark",
 "1.2 m [4'] bull shark",
 'bull shark',
 "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Shark involvement doubtful',
 'Bull shark, 1.65 m [5\'5"] was speared & killed',
 'Bull shark, 132-kg [291-lb] ',
 "Mako shark, 3 m to 4 m [10' to 13'] ",
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 "Wobbegong shark, 1.2 m [4'] ",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "Nurse shark, 60 cm to 90 cm [2' to 3'] ",
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '1.2 m [4\'] "grey-colored shark"',
 '2 m cow shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "1.5 m to 1.8 m [5' to 6'] shark",
 "2.1 m  [7'] bull shark",
 "8' great hammerhead shark",
 "106 cm [3.5']  shark",
 '\x93small brown shark\x94',
 "3.7 m to 4.3 m [12' to 14'] shark",
 '"sand shark"',
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 'A \x93small\x94 shark',
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
 "Mako shark, 3 m [10']",
 "60 cm [2'] captive shark",
 "2.5 m [8.25'] white shark",
 'Species unidentified',
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 'Shark involvement not confirmed, injury may be due to a stingray',
 "3 m to 4.5 m [10' to 15'] white shark",
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
 'Possibly a bull shark or tiger shark',
 'Blacktip or spinner shark',
 "3.5' to 4.5' shark",
 "1.2 m [4'] blacktip shark",
 "Tiger shark, 1.5 m [5']k",
 "3 m to 3.7 m [10' to 12'] shark",
 "1' to 2' hammerhead or bonnethed shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "Nurse shark, 1.5 m [5'] ",
 "Sandtiger shark, 3 m [10'] ",
 "1.2 m [4'] blacktip or sandbar shark",
 "Bull shark, 1.8 m to 2.1 m [6' to 7'] ",
 'Mako shark, 400-lb ',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "Tiger shark, 2.4 m to 2.7 m [8' to 9']  ",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 '\xa0 ',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "3.7 m to 4.3 m [12' to 14'] white shark",
 '1 m  shark',
 "3' blacktip shark",
 "2.1 m to 2.4 m [7' to 8'] shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 "0.9 m [3'] shark",
 'Nurse shark, 1m ',
 "Spinner shark, 3' to 4' ",
 'Shark involvement prior to death unconfired',
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 'Unidentified',
 "Tiger shark, 1.8 m [6'] ",
 "Mako shark, 2 m [6.75'] ",
 "Tiger shark, 1.8 m [6']",
 'Questionable incident - shark bite may have precipitated drowning',
 "2' to 3.5' shark",
 "12' sandtiger shark",
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 "1.5 m [5'] shark",
 "3 m [10'] bull shark",
 'Possibly  a blacktip or spinner shark',
 "3' shark, possibly  a blacktip or spinner shark",
 "Blacktip shark, 5' to 6' ",
 "1.9 m [6.5'] bull shark",
 "Mako shark, 14' ",
 "0.9 m  [3'] shark",
 "Bull shark, 2.3 m [7.5'] ",
 "White shark, 2.4 m to 3 m [8' to 10'] ",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 'Possibly a juvenile blacktip or spinner shark',
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 '1 m shark, possibly whitetip reef shark',
 "White shark, 2.7 m [9'] ",
 "Spinner shark, 1.2 m to 1.5 m [4' to 5'] ",
 "Tiger shark, 8' ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m ',
 "1.2 m to 1.8 m [4' to 6'] shark",
 "White shark, 4.9 m [16'] ",
 "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
 "2.1 to 2.4 m [7' to 8'] shark",
 "Blacktip shark, 2' ",
 "White shark, 4.3 m [14']",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 '100-kg [221-lb] dead blue shark',
 'White shark, 2.5 m ',
 "60 cm to 90 cm [2' to 3'] shark",
 "White shark, 3.5 m [11.5']  male ",
 'Thought to involve a Zambesi shark',
 "A 2' shark was seen in the area by witnesses",
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
 'Shark involvement  not confirmed',
 "Nurse shark, 1.5 m [5']",
 "1.8 m [6'] grey-colored shark",
 "Grey reef shark, 2 m [6.75'] ",
 "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ",
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Nurse shark, 1.2 m [4'] ",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "Bull shark, 2.4 m [8']",
 "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'Shark involvement  questionable',
 "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 "White shark, 3 m [10'] ",
 '1.3 to 1.6 m shark',

In [43]:
len(list(df["Species"].unique()))

1550

In [45]:
df["clean_specie"]=df.Species.apply(cf.spec_only)

In [46]:
list(df["clean_specie"].unique())

['white shark',
 'unknown',
 'm shark',
 'tiger shark',
 'lemon shark',
 'bull shark',
 'reef shark',
 'nurse shark',
 'wobbegong shark',
 'blacktip shark',
 'a shark',
 'galapagos shark',
 '2m shark',
 'small shark',
 'blue shark',
 'cookiecutter shark',
 'spinner shark',
 'whitetip shark',
 'sandtiger shark',
 'no shark',
 'gill shark',
 '3m shark',
 'sevengill shark',
 'angel shark',
 'dogfish shark',
 'mako shark',
 'whaler shark',
 'silky shark',
 'juvenile shark',
 'hammerhead shark',
 'but shark',
 'foot shark',
 'raggedtooth shark',
 'goblin shark',
 'metre shark',
 'sandbar shark',
 'cow shark',
 '1m shark',
 'salmon shark',
 'porbeagle shark',
 'jackson shark',
 'zambesi shark',
 '30kg shark',
 'thresher shark',
 'whale shark',
 'kg shark',
 'cutter shark',
 'dusky shark',
 'smoothhound shark',
 'basking shark',
 'as shark',
 'sand shark',
 'same shark',
 'copper shark',
 '2 shark',
 'brown shark',
 'colored shark',
 'captive shark',
 'bonnethed shark',
 'finned shark',
 'soupfin shark',
 'young shark',
 'leopard shark',
 'unidentified shark',
 'grey shark',
 'female shark',
 'two shark',
 'lb shark',
 'gaffed shark',
 'silvertip shark',
 'zambezi shark',
 '50 shark',
 'gray shark',
 'carpet shark',
 'dog shark',
 '6 shark',
 'for shark',
 '8 shark',
 'red shark',
 'banjo shark',
 'hooked shark',
 'larger shark',
 'several shark',
 'carcharinid shark',
 'another shark',
 'of shark',
 'little shark',
 '5m shark',
 'bonita shark',
 'large shark',
 'shovelnose shark',
 'nose shark',
 'nosed shark',
 '3 shark',
 'cocktail shark',
 '7 shark',
 'carcharhinid shark',
 'whiptail shark',
 'the shark',
 'saw shark',
 'from shark',
 'ground shark',
 'tipped shark']

In [47]:
len(list(df["clean_specie"].unique()))

103

In [48]:
df.clean_specie.value_counts().head(20)

unknown              4096
white shark           634
tiger shark           260
bull shark            177
m shark               129
nurse shark            97
whaler shark           66
reef shark             64
blacktip shark         61
small shark            55
mako shark             53
wobbegong shark        46
spinner shark          44
hammerhead shark       44
raggedtooth shark      43
blue shark             39
lemon shark            37
zambesi shark          29
whitetip shark         23
no shark               23
Name: clean_specie, dtype: int64